@model Actividad_5_Animales.Models.animalesViewModel;
@{
    Layout = "_Layout";
}
<div class="slides">
    <img src="images/carousel@(Model.Imagen).jpg">
</div>
<h1>Clasificación de los vertebrados</h1>
<div class="clases">
    @foreach (var clas in Model.clase)
    { 
        <div>
            <a href="~/@clas.Nombre.Replace(" ", "-")">
                <img src="~/clases/@(clas.Id).jpg">
                <h1>@clas.Nombre</h1>
                <p>@clas.Descripcion</p>
            </a>
        </div>
    }
</div>